*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.container{
 background-color: rgb(144, 144, 253);
 padding: 20px;
 font-family:'Courier New', Courier, monospace;
 width: 400px;
 border-radius: 5px;
}
h2{
  color: white;
  padding: 20px 0;
  text-align: center;
}
label{
  color: white;
  font-size: 1.2rem;
  letter-spacing: 1px;
  /* margin: 10px ; */
  
}
.inputbassword{
  margin-bottom: 20px;
  display:flex;
  flex-direction: column;
}
input{
  padding:13px;
  outline: none;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  margin-right: 10px;
}
.btn{
  padding: 13px;
  margin-top: 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: rgb(44, 155, 44);
  color: white;
  font-size: 1.1rem;
  cursor: pointer;


}
.readpassword{
  /* border: 1px solid; */
  padding: 0;
}
.readpassword input{
  width: 70%;
  font-size: 1.1rem;
}
.readpassword button{
  padding: 13px;
  margin-top: 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: rgb(240, 73, 73);
  color: white;
  font-size: 1.1rem;
  cursor: pointer;

}